<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zf.infrastructure.persistent.dao.IStrategyRuleDao">

    <resultMap id="dataMap" type="cn.zf.infrastructure.persistent.po.StrategyRule">
        <id column="id" property="id"/>
        <id column="strategy_id" property="strategyId"/>
        <id column="award_id" property="awardId"/>
        <id column="rule_type" property="ruleType"/>
        <id column="rule_model" property="ruleModel"/>
        <id column="rule_value" property="ruleValue"/>
        <id column="rule_desc" property="ruleDesc"/>
        <id column="create_time" property="createTime"/>
        <id column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryStrategyRuleList" resultMap="dataMap">
        select strategy_rule
        from strategy_rule
        limit 10
    </select>

</mapper>
