<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zf.infrastructure.persistent.dao.IStrategyDao">

    <resultMap id="dataMap" type="cn.zf.infrastructure.persistent.po.Strategy">
        <id column="id" property="id"/>
        <id column="strategy_id" property="strategyId"/>
        <id column="strategy_desc" property="strategyDesc"/>
        <id column="create_time" property="createTime"/>
        <id column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryStrategyList" resultMap="dataMap">
        select strategy_id
        from strategy
        limit 10
    </select>

</mapper>
